html,
body {
  margin: 0;
  padding: 0;
  overflow: none;
  font-family: 'botanika-mono-italic', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-style: italic;
  text-transform: uppercase;
  cursor: pointer;
  background: rgba(185, 252, 0, 0.895);
	animation: blur 10s infinite alternate;
	-webkit-animation: blur 10s infinite alternate;
}
.container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
	animation: background 13s infinite alternate;
	-webkit-animation: background 13s infinite alternate;
}
span {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.24;
  width: calc(100vw - 10vh);
}

#intro-span {
  color: #bbbbff;
  max-height: 80vh;
}

#intro {
  z-index: 1;
}


button {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-family: 'botanika-mono-italic', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-style: italic;
  font-size: 5vw;
  margin-top: 1em;
  cursor: pointer;
}


#instruct-span {
  color: #bbbbff;
	animation: color 9s infinite alternate;
	-webkit-animation: color 9s infinite alternate;
  font-size: 13vw;
  opacity: 0;
  max-height: 60vh;
}

#hidden-resizer {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

#progress {
  width: 40vw;
  height: 40vw;
}

@keyframes blur {
  0% { filter: blur(1px);}
  60% { -webkit-filter: blur(1px);}
  100% { filter: blur(0.5vw);}
}

@-webkit-keyframes blur {
  0% { -webkit-filter: blur(1px);}
  60% { -webkit-filter: blur(1px);}
  100% { -webkit-filter: blur(0.5vw);}
}

@keyframes background {
  0% {background-color: rgb(0, 255, 0);}
  55% {background-color: rgba(127, 255, 7, 0.895);}
  100% {background-color: rgba(185, 252, 0, 0.895);}
}

@-webkit-keyframes background {
  0% {background-color: rgb(0, 255, 0);}
  55% {background-color: rgba(127, 255, 7, 0.895);}
  100% {background-color: rgba(185, 252, 0, 0.895);}
}

@keyframes color {
  0% {color: #bbbbff;}
  45% {color: #bbfaff;}
  100% {color: #ffffff;}
}

@-webkit-keyframes color {
  0% {color: #bbbbff;}
  45% {color: #bbfaff;}
  100% {color: #ffffff;}
}

@font-face {
  font-family: "botanika-mono-italic";
  /* src: url('fonts/Botanika-Mono-Italic.woff2') format('woff2'), url('fonts/Botanika-Mono-Italic.woff') format('woff'); */
  src: url('fonts/Botanika-Mono-SemiBold-Italic.woff2') format('woff2'), url('fonts/Botanika-Mono-SemiBold-Italic.woff') format('woff');
}