html,
body {
  margin: 0;
  padding: 0;
  font-family: 'botanika-mono-italic', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-style: italic;
  text-transform: uppercase;
  cursor: pointer;
	/* animation: background 13s infinite alternate; */
  background: black;
}

.container {
  overflow-y: scroll;
  height: calc(100vh - 15vw);
  width: 85vw;
  position: absolute;
  top: 7.5vw;
  left: 7.5vw;
  text-align: center;
  border: 4px solid #e6e6fd;
  animation: rotate 10s infinite alternate;
  
}

span {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.24;
  width: calc(100vw - 15vh) !important;
	animation: blur 10s infinite alternate, color 9s infinite alternate;
  word-break: break-all;
}

#intro-span {
  color: #bbbbff;
  max-height: calc(100vh - 15vw);
}

#intro {
  z-index: 1;
}


.spacer1 {
  height: 100vh;
  background: linear-gradient(#e6e6fd, black);
}
.spacer2 {
  height: 100vh;
  background: linear-gradient(black, #e6e6fd);
}

#instruct-span {
  color: #e6e6fd;
  max-height: 85vh;
}

::-webkit-scrollbar {
  width: 2.5vw;
}

::-webkit-scrollbar-track {
  border-left: 4px solid #e6e6fd;
  width: 2.5vw;
  border-color: #e6e6fd;
}

::-webkit-scrollbar-thumb {
  border-color: #e6e6fd;
  background: #e6e6fd;
}

@font-face {
  font-family: "botanika-mono-italic";
  src: url('fonts/Botanika-Mono-SemiBold-Italic.woff2') format('woff2'), url('fonts/Botanika-Mono-SemiBold-Italic.woff') format('woff');
}


#hidden-resizer {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes blur {
  0% { filter: blur(1px);}
  60% { -webkit-filter: blur(3px);}
  100% { filter: blur(1vw);}
}

@keyframes background {
  /* 0% {background-color: rgb(0, 255, 115);}
  100% {background-color: rgb(185, 252, 0);} */

  from {background-color: black;}
  to {background-color: rgb(4, 0, 41);}
}

@keyframes rotate {
  0% {filter:hue-rotate(230deg)} 
  100% {filter:hue-rotate(360deg)}
}

/* @keyframes color {
  0% {color: #ffffff;}
  30% {color: #bbbbff;}
  100% {color: #bbfaff;}
} */

@keyframes scroll {
  0% {color: #ffffff; border-color: #ffffff; background: #ffffff; }
  30% {color: #bbbbff; border-color: #bbbbff; background: #bbbbff;}
  100% {color: #bbfaff; border-color: #bbfaff; background: #bbfaff; }
}