html,
body {
  margin: 0;
  padding: 0;
  font-family: 'botanika-mono-italic', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-style: italic;
  text-transform: uppercase;
  cursor: pointer;
	animation: background 13s infinite alternate;
  overflow: hidden;

}

.container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 15vw);
  width: 85vw;
  position: absolute;
  top: 7.5vw;
  left: 7.5vw;
  text-align: center;
  border: 4px solid #1a1428;
  animation: rotate 10s infinite alternate;
  box-shadow: 10px 10px 10px #c2c0ce;
  
}

span {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.24;
  width: 75vw !important;
	animation: blur 10s infinite alternate, color 9s infinite alternate;
  /* word-break: break-all; */
}

#intro-span {
  color: #bbbbff;
  max-height: calc(100vh - 15vw);
}

#intro {
  z-index: 1;
}


.spacer {
  height: 100vh;
  display: flex;
  align-items: center;
}


.instruct-spacer {
  height: 100vh;
  display: flex;
  align-items: center;
}

#start-span {
  font-size: 5vw;
  margin: 0 auto;
}

#instruct-span {
  color: #1a1428;
  display: block;
  margin: 0 auto;
  max-height: 85vw;
}

::-webkit-scrollbar {
  width: 2.5vw;
}

::-webkit-scrollbar-track {
  border-left: 4px solid #1a1428;
  width: 2.5vw;
  border-color: #1a1428;
}

::-webkit-scrollbar-thumb {
  border-color: #1a1428;
  background: #1a1428;
}

@font-face {
  font-family: "botanika-mono-italic";
  src: url('fonts/Botanika-Mono-SemiBold-Italic.woff2') format('woff2'), url('fonts/Botanika-Mono-SemiBold-Italic.woff') format('woff');
}


#hidden-resizer {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes blur {
  0% { filter: blur(1px);}
  70% { -webkit-filter: blur(2px);}
  100% { filter: blur(5px);}
}

@keyframes background {
  0% {background-color: #fffef6;}
  55% {background-color: white;}
  100% {background-color: #e8f5ff;}
  
}

@keyframes rotate {
  0% {filter:hue-rotate(320deg)} 
  100% {filter:hue-rotate(35deg)}
}