html,
body {
  margin: 0;
  padding: 0;
  overflow: none;
  font-family: 'botanika-mono-web', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-style: italic;
  text-transform: uppercase;
  cursor: pointer;
  background: black;
	animation: blur 8s infinite alternate;
	-webkit-animation: blur 8s infinite alternate;
}
.border {
  height: 80vh;
  width: calc(100vw - 20vh);
  position: absolute;
  top: 10vh;
  left: 10vh;
  z-index: 5;
  box-sizing: border-box;
  pointer-events: none;
}
.container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
	animation: background 13s infinite alternate;
	-webkit-animation: background 13s infinite alternate;
}
span {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  width: calc(100vw - 18vh);
}

#intro span {
  color: #bbbbff;
  font-size: 5vw;
  max-height: 75vh;
}

button {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-family: 'botanika-mono-web', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-style: italic;
  font-size: 5vw;
  margin-top: 1em;
  cursor: pointer;
}


#instruct span {
  color: #bbbbff;
	animation: color 9s infinite alternate;
	-webkit-animation: color 9s infinite alternate;
  font-size: 13vw;
  opacity: 0;
  max-height: 75h;
}

#hidden-resizer {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

#progress {
  width: 40vw;
  height: 40vw;
}

@keyframes blur {
  0% { filter: blur(1px);}
  70% { -webkit-filter: blur(1px);}
  100% { filter: blur(4px);}
}

@-webkit-keyframes blur {
  0% { -webkit-filter: blur(1px);}
  70% { -webkit-filter: blur(1px);}
  100% { -webkit-filter: blur(4px);}
}

@keyframes background {
  from {background-color: black;}
  to {background-color: rgb(4, 0, 41);}
}

@-webkit-keyframes background {
  from {background-color: black;}
  to {background-color: rgb(4, 0, 41);}
}

@keyframes color {
  from {color: #bbbbff;}
  to {color: #bbfaff;}
}

@-webkit-keyframes color {
  from {color: #bbbbff;}
  to {color: #bbefff;}
}

@media (max-height: 1200px) {

  span {
    width: calc(100vw - 28vh);
  }

  #intro span {
    max-height: 60vh;
  }

  #instruct span {
    max-height: 80vh;
  }

}